@page "/Tecnico/Eliminar/{TecnicoId:int}"

@inject TecnicoService tecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Eliminar Técnico</PageTitle>

<label class="text-success fs-5" hidden="@string.IsNullOrEmpty(Confirmacion)">@Confirmacion</label>
<label class="text-danger fs-5" hidden="@string.IsNullOrEmpty(Pregunta)">@Pregunta</label>

<div class="container card shadow-lg">

	<div class="header text-center">
		<h5 class="card-header card-title">Eliminar Técnico</h5>
	</div>

	<div class="card-body">
		<p><strong>TecnicoId: </strong>@Tecnico.TecnicoId</p>
		<p><strong>Nombre: </strong>@Tecnico.TecnicoNombre</p>
		<p><strong>Sueldo: </strong>@Tecnico.SueldoHora.ToString("N2")</p>
	</div>

	<div class="card-footer text-center mt-2">

		<a href="/Tecnico/Index" class="btn btn-outline-secondary">
			<span class="bi bi-arrow-left"></span>Volver
		</a>
		<button class="btn btn-outline-danger" @onclick="Borrar">
			<span class="bi bi-trash"></span>Eliminar
		</button>
	</div>
</div>

@code {
	[Parameter]
	public int TecnicoId { get; set; }
	private Tecnicos Tecnico { get; set; } = new Tecnicos();
	private string Confirmacion { get; set; } = string.Empty;
	private string Pregunta { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		Tecnico = await tecnicoService.Buscar(TecnicoId);
		Pregunta = "¿Está seguro de eliminar el técnico?";
	}

	public async Task Borrar()
	{
		var eliminado = await tecnicoService.Eliminar(TecnicoId);
		if (eliminado != null)

		{
			Confirmacion = "Tecnico eliminado correctamente";
			navigationManager.NavigateTo("Tecnico/Index");
		}
		else
		{
			Confirmacion = "No se pudo eliminar al técnico";
		}
	}
}
