@page "/Cliente/Crear"
@inject ClienteService clienteservice
@inject TecnicoService tecnicoservice
@rendermode InteractiveServer

<PageTitle>Crear</PageTitle>

<EditForm Model="Cliente" OnValidSubmit="GuardarClientes">
	<DataAnnotationsValidator/>

	<label class="text-danger fs-5" hidden="@string.IsNullOrEmpty(ErrorNombre)">@ErrorNombre</label>
	<label class="text-success fs-5" hidden="@string.IsNullOrEmpty(GuardarExito)">@GuardarExito</label>

	<div class="container">
		<div class="card shadow-lg">
			<div class="card-header text-center">
				<h5 class="card-title">Registro de Clientes</h5>
			</div>

			<div class="card-body">
				<div class="mb-3">
					<label class="form-label"><strong>Cliente Id</strong></label>
					<InputNumber class="form-control" @bind-Value="Cliente.ClienteId" readonly></InputNumber>
				</div>
				<div class="mb-3">
					<label class="form-label"><strong>Nombre</strong></label>
					<InputText class="form-control" @bind-Value="Cliente.ClienteNombre"></InputText>
					<ValidationMessage For="(() => Cliente.ClienteNombre)" />
				</div>
				<div class="mb-3">
					<label class="form-label"><strong>Dirección</strong></label>
					<InputText class="form-control" @bind-Value="Cliente.DireccionCliente"></InputText>
					<ValidationMessage For="(() => Cliente.DireccionCliente)" />
				</div>
				<div class="mb-3">
					<label class="form-label"><strong>RNC</strong></label>
					<InputText class="form-control" @bind-Value="Cliente.Rnc"></InputText>
					<ValidationMessage For="(() => Cliente.Rnc)" />
				</div>
				<div class="mb-3">
					<label class="form-label"><strong>Límite de Crédito</strong></label>
					<InputNumber class="form-control" @bind-Value="Cliente.LimiteCredito"></InputNumber>
					<ValidationMessage For="(() => Cliente.LimiteCredito)" />
				</div>
				<div class="mb-3">
					<label><strong>Técnico</strong></label>

					<div class="input-group">
						<InputSelect class="form-control form-select" @bind-Value="Cliente.TecnicoId">
							<option value=0 selected disabled>Seleccione un Técnico</option>
							@foreach (var tecnico in ListaTecnicos)
							{
								<option value="@tecnico.TecnicoId">@tecnico.TecnicoNombre</option>
							}
						</InputSelect>
					</div>
				</div>
			</div>

			<div class="card-footer text-center mt-2">
				<div class="btn-group" role="group">
				<button type="reset" class="btn btn-outline-primary bi bi-arrow-clockwise" @onclick="Nuevo">Limpiar</button>
				<button type="submit" class="btn btn-outline-success bi bi-floppy"> Guardar</button>
				<a href="/Cliente/Index" class="btn btn-outline-secondary"><span class="bi bi-arrow-left"></span>Volver</a>
				</div>
			</div>
			</div>
		</div>
</EditForm>

@code {
	private Clientes Cliente { get; set; } = new Clientes();
	private string ErrorNombre { get; set; } = string.Empty;
	private string GuardarExito { get; set; } = string.Empty;
	public List<Tecnicos> ListaTecnicos { get; set; } = [];

	public void Nuevo()
	{
		this.Cliente = new Clientes();
	}

	protected override async Task OnInitializedAsync()
	{
		Cliente = new Clientes();
		ListaTecnicos = await tecnicoservice.Listar(t => t.TecnicoId > 0);
	}

	private async Task<bool> Validar()
	{
		ErrorNombre = string.Empty;

		if (await clienteservice.ExisteNombre(Cliente.ClienteNombre))
		{
			ErrorNombre = "Ya existe un cliente con este nombre";
			return false;
		}
		if (await clienteservice.ExisteRNC(Cliente.Rnc))
		{
			ErrorNombre = "El RNC ya esta en uso";
			return false;
		}
		return true;
	}
	public async Task GuardarClientes()
	{
		ErrorNombre = string.Empty;
		GuardarExito = string.Empty;

		if (!await Validar())
		{
			return;
		}
		var guardo = await clienteservice.Guardar(this.Cliente);
		if (guardo != null)
		{
			GuardarExito = "Cliente Guardado Correctamente";
			Nuevo();
		}
		else
		{
			ErrorNombre = "Error al guardar el Registro";
		}
	}
}